.rnd-ka-login {
	 padding-left: 30px;
	
	.input-group {
		padding-bottom: 15px;
	}
	
	.btn-label {
		position: relative;
		left: -12px;display: inline-block;
		padding: 6px 12px;
		background: rgba(0,0,0,0.15);
		border-radius: 3px 0 0 3px;
	}
		
	.btn-labeled {
		padding-top: 0;
		padding-bottom: 0;
	}
		
	.validation-message {
		color: red;
	}
	
	.btn {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}